# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data (ignore files but keep placeholders)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS
Thumbs.db
.DS_Store
